<div class="section-program__wrapper">
    <h2 class="title title--black"> НОВОГОДНЯЯ ШОУ-ПРОГРАММА</h2>
    <article class="article article--black">
        <p class="article__pharagraph">
            В эту новогоднюю ночь звёзды будут гореть не только на небе, но и на нашей сцене!
            Вас ждет неповторимый вечер, полный сюрпризов и ярких впечатлений.
        </p>
    </article>
    <div class="artist-block">
        <div class="artist-block__wrapper">
            <h2 class="title artist-block__title-artist title--black">АРТИСТЫ</h2>
            <div class="artist-container-item artist-container-item--first">
                <h2 id="headliner1" class="title-big title-big--yellow artist-container-item__title">HEADLINER #1</h2>
                <div class="parallelogram">
                    <div class="parallelogram-container artist-block__paralelogram">
                        <img class="artist-block__snowflake" src="img/snowflake.png" alt="">
                        <div class="swiper-container swiper-artist">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide artist-slide">
                                    <figure class="artist-slide__frame">
                                        <img class="artist-slide__img" src="img/slide-artist.jpg" alt="">
                                    </figure>
                                    <article class="atricle atricle-artist artist-slide__article article--black">
                                        <h3 class="article-artist__title">АРСЕНИЙ БОРОДИН</h3>
                                        <span class="article-artist__subtitle">Звездный гость из Москвы!</span>
                                        <p class="article-artist__content">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing
                                            elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                                            aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                                            tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                                            consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
                                            esse molestie consequat.
                                        </p>
                                        <nav class="article__navigation navigation">
                                            <ul class="navigation__list">
                                                <li class="navigation__item"><a href="#"
                                                        class="navigation__link">Official Site</a></li>
                                                <li class="navigation__item"><a href="#"
                                                        class="navigation__link">Facebook</a></li>
                                                <li class="navigation__item"><a href="#"
                                                        class="navigation__link">Twitter</a></li>
                                                <li class="navigation__item"><a href="#"
                                                        class="navigation__link">Soundcloud</a></li>
                                                <li class="navigation__item"><a href="#"
                                                        class="navigation__link">Youtube</a></li>
                                            </ul>
                                        </nav>
                                    </article>
                                </div>
                                <div class="swiper-slide artist-slide">
                                    <figure class="artist-slide__frame">
                                        <img class="artist-slide__img" src="img/slide-artist.jpg" alt="">
                                    </figure>
                                    <article class="atricle atricle-artist artist-slide__article article--black">
                                        <h3 class="article-artist__title">АРСЕНИЙ БОРОДИН</h3>
                                        <span class="article-artist__subtitle">Звездный гость из Москвы!</span>
                                        <p class="article-artist__content">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing
                                            elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                                            aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                                            tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                                            consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
                                            esse molestie consequat.
                                        </p>
                                        <nav class="article__navigation navigation">
                                            <ul class="navigation__list">
                                                <li class="navigation__item"><a href="#"
                                                        class="navigation__link">Official Site</a></li>
                                                <li class="navigation__item"><a href="#"
                                                        class="navigation__link">Facebook</a></li>
                                                <li class="navigation__item"><a href="#"
                                                        class="navigation__link">Twitter</a></li>
                                                <li class="navigation__item"><a href="#"
                                                        class="navigation__link">Soundcloud</a></li>
                                                <li class="navigation__item"><a href="#"
                                                        class="navigation__link">Youtube</a></li>
                                            </ul>
                                        </nav>
                                    </article>
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="artist-container-item">
                <h2 id="headliner2" class="title-big artist-container-item__title">HEADLINER #2</h2>
                <div class="parallelogram">
                    <div class="parallelogram-container artist-block__paralelogram">
                        <img class="artist-block__snowflake" src="img/snowflake.png" alt="">
                        <div class="swiper-container swiper-artist">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide artist-slide">
                                    <figure class="artist-slide__frame">
                                        <img class="artist-slide__img" src="img/slide-artist.jpg" alt="">
                                    </figure>
                                    <article class="atricle atricle-artist artist-slide__article article--black">
                                        <h3 class="article-artist__title">АРСЕНИЙ БОРОДИН</h3>
                                        <span class="article-artist__subtitle">Звездный гость из Москвы!</span>
                                        <p class="article-artist__content">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing
                                            elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                                            aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                                            tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                                            consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
                                            esse molestie consequat.
                                        </p>
                                        <nav class="article__navigation navigation">
                                            <ul class="navigation__list">
                                                <li class="navigation__item"><a href="#"
                                                        class="navigation__link">Official Site</a></li>
                                                <li class="navigation__item"><a href="#"
                                                        class="navigation__link">Facebook</a></li>
                                                <li class="navigation__item"><a href="#"
                                                        class="navigation__link">Twitter</a></li>
                                                <li class="navigation__item"><a href="#"
                                                        class="navigation__link">Soundcloud</a></li>
                                                <li class="navigation__item"><a href="#"
                                                        class="navigation__link">Youtube</a></li>
                                            </ul>
                                        </nav>
                                    </article>
                                </div>
                                <div class="swiper-slide artist-slide">
                                    <figure class="artist-slide__frame">
                                        <img class="artist-slide__img" src="img/slide-artist.jpg" alt="">
                                    </figure>
                                    <article class="atricle atricle-artist artist-slide__article article--black">
                                        <h3 class="article-artist__title">АРСЕНИЙ БОРОДИН</h3>
                                        <span class="article-artist__subtitle">Звездный гость из Москвы!</span>
                                        <p class="article-artist__content">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing
                                            elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                                            aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                                            tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                                            consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
                                            esse molestie consequat.
                                        </p>
                                        <nav class="article__navigation navigation">
                                            <ul class="navigation__list">
                                                <li class="navigation__item">
                                                    <a href="#" class="navigation__link">Official Site</a>
                                                </li>
                                                <li class="navigation__item">
                                                    <a href="#" class="navigation__link">Facebook</a>
                                                </li>
                                                <li class="navigation__item">
                                                    <a href="#" class="navigation__link">Twitter</a>
                                                </li>
                                                <li class="navigation__item">
                                                    <a href="#" class="navigation__link">Soundcloud</a>
                                                </li>
                                                <li class="navigation__item">
                                                    <a href="#" class="navigation__link">Youtube</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </article>
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>