<div class="slider-wrapper">
    <div class="swiper-container swiper-paty">
        <div class="swiper-wrapper swiper-paty__wrapper">
            <div class="swiper-slide swiper-paty__slide">
                <picture class="swiper-slide__frame">
                    <img class="swiper-slide__img" src="img/slide1.jpg" alt="">
                </picture>
            </div>
            <div class="swiper-slide swiper-paty__slide">
                <picture class="swiper-slide__frame">
                    <img class="swiper-slide__img" src="img/slide2.jpg" alt="">
                </picture>
            </div>
            <div class="swiper-slide swiper-paty__slide">
                <picture class="swiper-slide__frame">
                    <img class="swiper-slide__img" src="img/slide3.jpg" alt="">
                </picture>
            </div>
            <div class="swiper-slide swiper-paty__slide">
                <picture class="swiper-slide__frame">
                    <img class="swiper-slide__img" src="img/slide4.jpeg" alt="">
                </picture>
            </div>
            <div class="swiper-slide swiper-paty__slide">
                <picture class="swiper-slide__frame">
                    <img class="swiper-slide__img" src="img/slide2.jpg" alt="">
                </picture>
            </div>
            <div class="swiper-slide swiper-paty__slide">
                <picture class="swiper-slide__frame">
                    <img class="swiper-slide__img" src="img/slide1.jpg" alt="">
                </picture>
            </div>
        </div>
    </div>
</div>
