<footer class="footer">
    <nav class="footer-navigation footer__navigation">
        <p class="footer-navigation__text">Bomond Management Group GmbH, HRB 21077, Schliepstr. 4, 44135 Dortmund. All rights reserved © 2009-2017</p>
        <ul class="social-list footer__social-list">
            <li class="social-list__item">
                <a href="#" class="social-list__link"> 
                    <svg class="social-list__icon">
                        <use xlink:href="img/fb.svg#fb"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list__item">
                <a href="#" class="social-list__link"> 
                    <svg class="social-list__icon">
                        <use xlink:href="img/tw.svg#tw"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list__item">
                <a href="#" class="social-list__link"> 
                    <svg class="social-list__icon">
                        <use xlink:href="img/insta.svg#instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list__item">
                <a href="#" class="social-list__link">  
                    <svg class="social-list__icon">
                        <use xlink:href="img/pinterest.svg#pinterest"></use>
                    </svg>
                 </a>
            </li>
            <li class="social-list__item">
                <a href="#" class="social-list__link"> 
                    <svg class="social-list__icon">
                        <use xlink:href="img/linkedin.svg#iconfinder_11-linkedin_104493"></use>
                    </svg>
                 </a>
            </li>
        </ul>
        <a class="anchor-site" href="#header"> 
            <span class="anchor-site__line">

            </span>
        </a>
    </nav>
    <div class="footer-bottom">
        <picture class="footer-bottom__frame">
            <img class="footer-bottom__img"  src="img/footer-line.jpg" alt="">
        </picture>
    </div>
</footer>

<script src="js/script.js$$version$$" inline></script>
</body>
</html>