<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>~ Developer_dream</title>
    <link rel="stylesheet" href="css/style.css$$version$$" inline>
</head>
<body>

<header id="header" class="header">
   <div class="header__wrapper">
       <nav class="nav-site">
            <button class="header__burger">
                <span class="header__burger-line"></span>
            </button>
            <ul class="header-menu">
                <li class="header-menu__item"><a href="#header" class="header-menu__link">Главная</a></li>
                <li class="header-menu__item"><a href="#about" class="header-menu__link">О нас </a></li>
                <li class="header-menu__item"><a href="#hall" class="header-menu__link">Зал</a></li>
                <li class="header-menu__item"><a href="#" class="header-menu__link header-menu__link--logo"><img class="" src="img/logo.png" alt=""></a></li>
                <li class="header-menu__item"><a href="#menu" class="header-menu__link">Меню</a></li>
                <li class="header-menu__item"><a href="#action" class="header-menu__link">Акция</a></li>
                <li class="header-menu__item"><a href="#contacts" class="header-menu__link">Контакты</a></li>
                <li class="header-menu__item header-menu__item--tickets"><a href="#" class="header-menu__link header-menu__link--yellow">КУПИТЬ БИЛЕТ</a></li>
                <li class="header-menu__item header-menu__item--lang"><a href="#" class="header-menu__link">ru</a></li>
            </ul>
       </nav>
       <div class="header__content">
            <h1 class="advertisement-title ">
                Звездный <br>
                <span class="advertisement-title__yellow">Новогодний бал</span>
                <span class="advertisement-title__year">2020</span>
            </h1>
            <nav class="nav-page">
                <ul class="nav-list">
                    <li class="nav-list__item"><a href="#headliner1" class="nav-list__link">HEADLINER #1</a></li>
                    <li class="nav-list__item"><a href="#headliner2" class="nav-list__link">HEADLINER #2</a></li>
                    <li class="nav-list__item"><a href="#headliner3" class="nav-list__link">HEADLINER #3</a></li>
                </ul>
            </nav>
       </div>
       <figure class="header__frame"><img src="img/trees.png" alt="" class="header__tree"></figure>
   </div>
</header>